.button{
    color: "black";
    border-radius: 0px !important;
}

.btn{
    color: "black";
    border-radius: 0px !important;
}
.terminal{
    color: white;
    background-color: #255325;
    // font-size: 14px;
    height: 30px;
    font-family:"VPet" ;

  }

$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;