@font-face {
    font-family: "VPet";
    font-style: normal;
    font-weight: 400;
    src: url("../resources/pixelmix.ttf") format('ttf');
    // src: url("../resources/vpet.woff") format('woff');
  }

  .terminal{
    color: white;
    background-color: #255325;
    // font-size: 14px;
    height: 30px;
    font-family:"VPet" ;

  }

// .imgProp{
// width:"245px" !important;
// //   height: "102px";
// }

  .dead{
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }